{% extends 'store/base.html' %}
{% load static %}

{% block container %}
        <div class="row">
            <div class="col-md-12 cart_info">
                    <div class="successful-order text-center">
                        <i class="fa fa-check"></i>
                        <h3 class="page-header">Thank you for you purchase!</h3>
                    </div>
                    <div class="ordered-info">
                        <h5>OrderID: <span>#2018{{ order.id }}</span></h5>
                        <h5>Book: <span>{{ order.totalbook }}</span></h5>
                        <h5>Name: <span>{{ order.name }}</span></h5>
                        <h5>Phone: <span>{{ order.phone }}</span></h5>
                        <h5>Email: <span>{{ order.email }}</span></h5>
                        <h5>Account No: <span>{{ order.card_no }}</span></h5>
                        <h5>Shipping address: <span>{{ order.country }}:{{ order.zip_code }}, {{ order.address }}</span></h5>
                    </div>
                    <div class="download-info">
                        <a href="{% url 'order:pdf' id=order.id %}"><i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
            </div>
        </div>
{% endblock %}
